<div class="container">

  <h3 *ngIf="user">Hello {{ user.firstName }}</h3>

  <button *ngIf="!user" type="submit" class="btn btn-primary login-button" (click)="signInWithGoogle()">
    <i class="icon-user icon-white"></i> Sign in
  </button>

  <button *ngIf="user" type="submit" class="btn btn-primary login-button" (click)="signOut()">
    <i class="icon-user icon-white"></i> Sign out
  </button>

  <h1>Beers</h1>

  <mat-paginator [length]="totalSize"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="fetchBeers($event)">
  </mat-paginator>

  <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="flex-start">
    <app-beer-card fxFlex="0 1 calc(20% - 15px)"
                   *ngFor="let beer of beers" [beer]="beer"
                   [userId]="user?.id"
                   [isFavourite]="favourites.includes(beer.id)"
                   (favouriteChange)="fetchFavourites(user?.id)"
    ></app-beer-card>
  </div>

</div>
